@import url("https://fonts.googleapis.com/css2?family=Days+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&family=Roboto:wght@400;500;700&display=swap');


a{
    text-decoration: none;
    color: unset;
}
/* ================== */
/* ================== */
/* ================== */
/* ================== */

.navbar-b {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, #2A2A2A 0%, #343535 100%);;
  box-shadow: 2px 3px 10px 1px rgba(0, 0, 0, 0.6);
  color: #f9f9f9;
  font-family: "Poppins",sans-serif;
  box-sizing: border-box;
  transition: top 0.5s;
  left:0;
  /* top:-110px; */
}


body {
  margin: 0;
  padding: 0;
  background-color: #2a2a2a;
  color: aliceblue;
}

/* scroll to top button starts here */
#topBtn{
    display: none;
    position: fixed;
    bottom:40px;
    right:40px;
    width:50px;
    height:50px;
    font-size: 22px;
    background:rgb(202, 164, 61) ;
    border:none;
    cursor:pointer;
    color:#2a2a2a;
    border-radius: 12px;
  }
  #topBtn:hover{
    background:#494949;
    color:rgb(202, 164, 61);
    box-shadow:  5px 10px 10px rgba(0, 0, 0, 0.3) ;
  }
  /* scroll to top button ends here */
  @media screen and (max-width: 768px) {  
    #topBtn{
      width:42px;
      height:42px;
    }
  }

  * {
    box-sizing: border-box;
  }
  
  button {
    border: 0;
    padding: 0;
    font-size: 18px;
    font-family: inherit;
    background: transparent;
    color: inherit;
    cursor: pointer;
  }
  .navbar-b img{
    margin-top: 10px;
    width: 80px;
  }
  
  .navbar-menu button:hover{
      color: #e0b72f;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-menu {
      position: static;
      translate: 0 0;
      width: auto;
      background: transparent;
      flex-direction: row;
      visibility: visible;
    }
  
    .navbar-menu button:not(:last-child){
      margin-bottom: 70px;
    }
  }
  
  
  button.contact-me{
    padding: 3px 10px !important;
    border-radius: 10px;
    color: white !important;
    background-color: rgb(202, 164, 61) !important;
    transition: 0.3s ease-in-out;
  }
  
  button.contact-me:hover{
    box-shadow:  0px 5px 12px rgb(104, 81, 18);
    background-color: rgb(165, 134, 50) !important;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-b {
      justify-content: space-between;
      padding: 0 0 0 16px;
    }
  }
  
  .navbar-overlay {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
  }
  
  body.open .navbar-overlay {
    visibility: visible;
    opacity: 1;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-overlay {
      display: none;
    }
  }
  
  .navbar-burger {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    width: 84px;
    height:74px;
    padding: 0px;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-burger {
      display: none;
      font-size: 65px;
      width: 70px;
      height: 80px;
  
    }
  }
  
  .navbar-title {
    margin: 0;
    font-size: 16px;
  }
  
  .navbar-menu {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    translate: -100% 0;
    width: 270px;
    height: 100%;
    padding: 20px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start;
    background: #000000;
    visibility: hidden;
    transition: translate 0.3s;
  }
  
  body.open .navbar-menu {
    translate: 0 0;
    visibility: visible;
  }
  
  @media only screen and (min-width: 600px) {
    .navbar-menu {
      position: static;
      translate: 0 0;
      width: auto;
      background: transparent;
      flex-direction: row;
      visibility: visible;
    }
  }
  
  .navbar-menu > button {
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
    background: transparent;
    padding: 0 8px;
  }
  
  .navbar-menu > button.active {
    color: inherit;
  }

  section{
    /* display: flex; */
    text-align: center;
  }
