.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error{
    width: 95px;
}

@media (min-width:300px) and (max-width:600px) {

    .error{
        width: 80px;
    }
}

.container h1{
    font-size: 27px;
    font-family: 'Open Sans',sans-serif;

}